body {
    background-image: url(../img/a-semente-fruto.webp);
}

.cartaz {
    width: 530px;
    height: 600px;
    margin: 100px auto;
    border: 2px solid #457B9D;
    text-align: center;
    background-color: rgba(29, 53, 87, 0.59)
}

h1, p {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 38px;
}

.filme .texto {
    font-size: 16px;
}

p {
    font-size: 18px;
    line-height: 30px;
    padding: 0 30px;
}

.diferente {
    font-size: 20px;
}

span {
    color: white;
    font-size: 24px;
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
}